@page
@model AdminInternPort.Pages.Interns.IndexModel




<div class="col-12 border p-3">
    <table id="Program_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Major</th>
                <th>University</th>
                <th>Graduation Date</th>
                <th>Program Title</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/InternList.js"></script>
}
